/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

/* WEATHER APP */

body {
    height: 100vh;
    background-image: url('../img/default.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    color: white;
}

.hide {
    top: -100vh;
}

.changeIcon {
    content: url('../img/closeIcon.png') !important;
    padding: 0.8em !important;
}

.toastifyClass {
    border-radius: 0.5em;
    padding: 0.5em;
}

.container {
    width: 92%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    border-radius: 1.5rem;
    .btnMenu {
        position: fixed;
        z-index: 10;
        top: 2rem;
        right: 2rem;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        .menuIcon {
            content: url('../img/searchIcon.png');
            width: 3rem;
            padding: 0.4em;
        }
    }
    .main {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ciudad {
            font-size: 1.75em;
        }
        .horario {
            margin-top: 0.5em;
        }
        .icono {
            margin-top: 1.3em;
            img {
                width: 6em;
            }
        }
        .temperatura {
            font-size: 5em;
        }
        .tempMin,
        .tempMax {
            font-size: 1.5em;
        }
    }
    .aside {
        width: 92%;
        height: 95%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .busqueda {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2em;
            .inputBusqueda {
                max-width: 70%;
                font-size: 1.4em;
                outline: none;
                border: none;
                border-radius: 0.5em;
                padding: 0.3em 0.6em;
                color: white;
                background-color: rgba(0, 0, 0, 0.2);
            }
            .btnBusqueda {
                border-radius: 50%;
                margin: 0.2em;
                .imgBusqueda {
                    width: 3em;
                    padding: 0.5em;
                }
            }
        }
        .contenedorHistorial {
            .limpiarHistorial {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 1rem;
                    background-color: white;
                    border-radius: 50%;
                    padding: 0.18em;
                    margin: 0.4em;
                }
            }
            .limpiarHistorial:hover {
                color: rgb(184, 183, 183);
                img {
                    background-color: rgb(184, 183, 183);
                }
            }
            .historialCiudades {
                height: 12rem;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .ultimaCiudad {
                    margin-top: 1rem;
                    cursor: pointer;
                }
                .ultimaCiudad:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    .container {
        width: 90%;
        height: 93%;
        .btnMenu {
            display: none;
        }
        .main {
            width: 60%;
            .ciudad {
                font-size: 1.75em;
            }
            .temperatura {
                font-size: 5.8em;
            }
            .tempMin,
            .tempMax {
                font-size: 1.8em;
            }
        }
        .aside {
            position: relative;
            display: block;
            width: 40%;
            height: 100%;
            border-left: 1px solid white;
            padding-top: 1.5rem;
            .busqueda {
                margin-top: 1em;

                .inputBusqueda {
                    max-width: 75%;
                    font-size: 1em;
                }
                .btnBusqueda {
                    .imgBusqueda {
                        width: 2.5em;
                    }
                }
            }
            .contenedorHistorial {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .limpiarHistorial {
                    width: fit-content;
                    max-width: 100%;
                }
                .historialCiudades {
                    .ultimaCiudad {
                        margin-top: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        .main {
            .ciudad {
                font-size: 1.9em;
            }
            .horario {
                font-size: 1.2em;
            }
            .temperatura {
                font-size: 6em;
            }
            .tempMin,
            .tempMax {
                font-size: 2em;
            }
        }
        .aside {
            .busqueda {
                margin-top: 1em;
                .inputBusqueda {
                    font-size: 1.2em;
                }
                .btnBusqueda {
                    .imgBusqueda {
                        width: 2.7em;
                    }
                }
            }
            .contenedorHistorial {
                .limpiarHistorial {
                    font-size: 1.2em;
                    img {
                        width: 1.2rem;
                    }
                }
                .historialCiudades {
                    height: 100%;
                    .ultimaCiudad {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .toastifyClass {
        font-size: 1.2em;
    }

    .container {
        width: 70%;
        height: 90%;
        .main {
            .ciudad {
                font-size: 2.1em;
            }
            .horario {
                font-size: 1.4em;
            }
            .icono {
                img {
                    width: 7em;
                }
            }
            .temperatura {
                font-size: 6.7em;
            }
            .tempMin,
            .tempMax {
                font-size: 2.2em;
            }
        }
        .aside {
            .busqueda {
                margin-top: 1em;
                .inputBusqueda {
                    font-size: 1.4em;
                }
                .btnBusqueda {
                    .imgBusqueda {
                        width: 2.9em;
                    }
                }
            }
            .contenedorHistorial {
                margin-top: 2rem;
                .limpiarHistorial {
                    font-size: 1.4em;
                    img {
                        width: 1.4rem;
                    }
                }
                .historialCiudades {
                    margin-top: 1.2rem;
                    .ultimaCiudad {
                        margin-top: 1.3rem;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}
